.brand-container {
    background-image: url(../images/whitelappy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}

/* .brand-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.9) 100%
    ),
    linear-gradient(180deg,
    rgba(0, 0, 0, 0.2) 0%,
    transparent 100%);
    z-index: 2;
}; */

.brand-wrap {
    border: 5px solid red;
    text-align: center;
    justify-content: center;
}

/* .brand-details {
    color: #fff; 
    border: 5px solid red;
    width: 500px;
    display: flex;
    text-align: center;
} */