.fleet-container {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 30px;
    background-color: #01BF71;
}

.fleet-column {
    background-image: url(../images/housecars.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    flex: 50%;
    padding-top: 50px;
    height: 80%;
    margin-top: 100px;
    margin-left: 20px;
}

.fleet-column2 {
    margin-bottom: 100px;
    margin-top: 100px;
    height: 80%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
};

.fleet-column2 h1 {
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-bottom: auto;
}

.fleet-column2 p {
    text-align: center;
    justify-content: center;
    line-height: 150%;
    font-family:'Times New Roman', Times, serif;
    margin: auto;
    font-size: 25px;
    text-align: justify;
    text-indent: 50px;
    color: #fff;
} 

/* media query */
@media (max-width: 1500px) {
    .fleet-container {
        height: 700px;
    }
}


@media (max-width: 900px) {
    .fleet-container {
        height: 1100px;
    }
}

@media  (max-width : 768px) {
    .fleet-container {
        color: white;
        height: 1500px;
        padding-top: 50px;

    }

    .fleet-column {
        /* margin-bottom: auto;
        padding-bottom: 10px; */
        /* border: 10px solid black;
        padding: 50px 50px;
        font-size: smaller; */
    }

    .fleet-column2 {
        /* line-height: 0.1; */
        /* font-size: 5px;
        height: 555px; */
        /* margin: auto; */
        /* background-color: red;
        padding: 20px 20px; */

    }
}
/* 
@media (min-width: 768px) {
    .fleet-container {
        width: 900px;
    }
} */