.fleet-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
    /* background-color: black; */
    gap: 10px;
}

.fleet-column {
    /* justify-content: center; */
    padding: 50px 50px;
    /* height: 900px; */
    /* border: 3px solid red; */
    background-image: url(../images/housecars.png);
    margin: 50px;
    background-size: cover;
    background-position: center;
}

.fleet-column2 {
    height: 1000px;
    border: 2px solid green;
    margin: 50px;
    width: 555px;
}

/* .fleet-column2 section {
    width: 200px;
    justify-content: center;
    /* text-align: center; */
*/

.fleet-column2 h1 {
    color: green;
    text-align: center;
}

.fleet-column2 p {
    text-align: center;
    justify-content: center;
    line-height: 1.7;
} 
