.first-section {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: green;
}

.first-section h1 {
    padding-bottom: 50px;
    color: white;
}

.first-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    grid-gap: 150px;
    padding: 0 50px;
}

.first-section-detail {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height: 500px;
    padding: 50px;
    font-size: 20px;
    line-height: 1.5; 
}

.first-section-detail h1 {
    color: green;
    text-decoration-line: overline; 
}

.first-section-image {
    background-size: cover;
    background-position: center;
    /* background: red; */
    background-image: url('../images/handcard.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height: 500px;
    padding: 50px;
};

