/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.first-section {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: green;
}

.first-section h1 {
    padding-bottom: 50px;
    color: white;
}

.first-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 150px;
    padding: 0 50px;
}

.first-section-detail {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height: 500px;
    padding: 50px;
    font-size: 23px;
    line-height: 1.45;
    /* box-sizing: border-box; */

}

.first-section-detail h1 {
    color: green;
    text-decoration-line: overline;
    text-decoration-style: solid; 
}

.first-section-image {
    background-size: cover;
    background-position: center;
    /* background: red; */
    background-image: url('../images/handcard.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height: 500px;
    padding: 50px;
    /* box-sizing: border-box; */
};


/* Responsiveness*/
@media screen and (max-width : 1000px) {
    .first-wrapper {
        border: 5px solid red;
        grid-template-columns: 1fr;
        /* padding: 0 20px; */
    }
};

@media screen and (max-width: 768px) {
    .first-section {
        border: 5px solid black;
        height: 1100px;
    }
    .first-section {
        height: 1300px;
    }
};


@media (max-width: 768px) {
    .first-wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 1250px) {
    .first-section-detail {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .first-section-detail {
        font-size: 16px;
        margin: auto;
        /* line-height: 1.1; */
    }
};
