/* @media(min-width: 700px) {
    .first-section {
        background: white;
    }
}

.first-section {
    background: green;
};


.first-section h1 {
    padding-bottom: 50px;
    color: white;
}

.first-wrapper {
    grid-row-gap: 450px;
    padding: 150px 50px;
    display: flex;
    flex-direction: row;
}

.first-section-detail {
    background: #fff;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
    font-size: 20px;
    line-height: 1.35;
    border: 5px solid black;
    flex: 1;
    max-height: 70rem;
    max-width: 30rem;
    margin: 0 auto;
}

.first-section-detail h1 {
    color: green;
    text-decoration-line: overline;
    text-decoration-style: solid; 
}

.first-section-image {
    background-size: cover;
    background-position: center;
    background-image: url('../images/handcard.jpg');
    border-radius: 10px;
    padding: 50px;
    border: 5px solid red;
    flex: 1;
    max-height: 70rem;
    max-width: 30rem;
    margin: 0 auto;
}; */

.second-container {
    display: flex;
}

.second-section-detail {
    border: 3px solid red;
    max-height: 50rem;
    max-width: 50rem;
    margin: 0 auto;
}

.second-section-image {
    border: 3px solid yellow;
    max-height: 50rem;
    max-width: 50rem;
    padding: 50px;
}

@media(max-width: 700px) {
    .second-container {
        display: grid;
    }
}



























/* Responsiveness*/
/* @media(min-width : 500px) {
    .first-wrapper {
        border: 5px solid red; 
        flex-direction: row;
    }
}; */

/* @media (max-width: 768px) {
    .first-section {
        border: 5px solid black;
        height: 1100px;
    }
    .first-section {
        height: 1300px;
    }
}; */


/* @media (max-width: 768px) {
    .first-wrapper {
        padding: 0 20px;
    }
} */
/* 
@media (max-width: 1250px) {
    .first-section-detail {
        font-size: 20px;
        border: 10px solid red;
    }
} */

/* @media (max-width: 900px) {
    .first-section-detail {
        font-size: 16px;
        margin: auto;
        line-height: 1.1;
    }
}; */
